.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;

  .title {
    font-size: 30px;
  }

  .row {
    width: 100%;

    .row__label {
      padding-top: 8px;
      padding-bottom: 4px;
      text-transform: uppercase;
    }

    canvas {
      border: 1px solid grey;
      background: $black;
    }

    textarea {
      width: 100%;
      border-radius: 0;
      border: none;
      outline: none;
      background: darken($black, 10%);
      color: grey;
      outline: 1px solid grey;
    }
  }

  .controls {
    padding-top: 8px;

    button {
      padding: 8px 10px;
      border: 1px solid grey;
      user-select: none;
      border: none;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      font-family: monospace;
      text-transform: uppercase;
    }
  }
}
