div, * {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
}

.row {
  width: 100%;
}

.row__label {
  padding-top: 8px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.row__output {
  width: 100%;
  display: flex;
}

canvas {
  margin-left: 8px;
  outline: 1px solid grey;
  background: grey;
  width: 400px;
  height: 200px;
}

.controls {
  padding-top: 8px;
}

textarea {
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  background: black;
  color: grey;
  outline: 1px solid grey;
}

button {
  padding: 8px;
  border: 1px solid grey;
  user-select: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#output {
  border: 1px solid black;
}

#time {
  border: 1px solid black;
}
